body {
  font-family: arial, sans-serif;
  background-color: black;
}

form {
  display: block;
  margin: 40px auto;
  max-width: 550px;
}

h1 {
  color: black;
  font-size: 40px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  color: black;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: rgb(116, 116, 66);
}
small {
  color: white;
  text-shadow: yellow 1px 0 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 50px 30px;
  background-color: white;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-bottom: 40px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 85px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.btn {
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
}

.conditions {
  font-size: 25px;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 20px;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.codeLink {
  color: gray;
}

.codeLink :visited {
  color: rgb(255, 255, 157);
}

#weather-humidity {
  margin-bottom: 15px;
  margin-top: 10px;
}
#date {
  font-size: 30px;
}

#weatherDescription {
  font-size: 30px;
  margin-bottom: 20px;
}
