body {
  font-family: arial, sans-serif;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 20px 0;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-bottom: 40px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}
